[Desktop Entry]
Name=Blooms in Gnome
Comment=Blossom FUSE mount with tray icon
Exec=blooms-tray
Terminal=false
Type=Application
Categories=Utility;Network;
X-GNOME-Autostart-enabled=true
